USE [master]
GO
/****** Object:  Database [SneakyGameDB]    Script Date: 30/05/2023 21:16:22 ******/
CREATE DATABASE [SneakyGameDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SneakyGameDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\SneakyGameDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SneakyGameDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\SneakyGameDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SneakyGameDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SneakyGameDB]
GO
/****** Object:  Table [dbo].[COMPETENCIA]    Script Date: 30/05/2023 21:16:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COMPETENCIA](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[IdJugadorUno] [int] NOT NULL,
	[IdFichaJugadorUno] [int] NOT NULL,
	[IdJugadorDos] [int] NOT NULL,
	[IdFichaJugadorDos] [int] NOT NULL,
	[IdTablero] [int] NOT NULL,
	[Inicio] [datetime] NOT NULL,
	[Fin] [datetime] NOT NULL,
	[IdJugadorGanador] [int] NOT NULL,
 CONSTRAINT [PK__COMPETEN__3213E83F603B896D] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DESBANCO]    Script Date: 30/05/2023 21:16:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DESBANCO](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[IdCompetencia] [int] NOT NULL,
	[IdJugador] [int] NOT NULL,
	[CantVeces] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ESCALERA]    Script Date: 30/05/2023 21:16:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ESCALERA](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Idugador] [int] NOT NULL,
	[IdCompetencia] [int] NOT NULL,
	[NumVeces] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FICHA]    Script Date: 30/05/2023 21:16:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FICHA](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Imagen] [varchar](120) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[JUEGOINDIVIDUAL]    Script Date: 30/05/2023 21:16:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JUEGOINDIVIDUAL](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Idjugador] [int] NOT NULL,
	[IdFicha] [int] NOT NULL,
	[IdTablero] [int] NOT NULL,
	[Inicio] [datetime] NOT NULL,
	[Fin] [datetime] NOT NULL,
	[Escaleras] [int] NOT NULL,
	[Serpientes] [int] NOT NULL,
	[Tiros] [int] NOT NULL,
 CONSTRAINT [PK__JUEGOIND__3214EC075C38F2B9] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[JUGADOR]    Script Date: 30/05/2023 21:16:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JUGADOR](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Username] [varchar](20) NOT NULL,
	[Nombre] [varchar](40) NOT NULL,
	[Correo] [varchar](40) NOT NULL,
	[PartidasGanadas] [int] NOT NULL,
	[Password] [varbinary](max) NOT NULL,
 CONSTRAINT [PK__JUGADOR__3214EC077B276A68] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ__JUGADOR__536C85E4319F2DD7] UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ__JUGADOR__60695A19B5E25654] UNIQUE NONCLUSTERED 
(
	[Correo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SERPIENTE]    Script Date: 30/05/2023 21:16:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SERPIENTE](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[IdJugador] [int] NOT NULL,
	[IdCompentencia] [int] NOT NULL,
	[CantVeces] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TABLERO]    Script Date: 30/05/2023 21:16:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TABLERO](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ImagenTable] [varchar](150) NOT NULL,
	[Nombre] [varchar](30) NOT NULL,
	[TotalCasillas] [int] NOT NULL,
	[CasillasSerpientes] [int] NOT NULL,
	[CasillasEscaleras] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TIRO]    Script Date: 30/05/2023 21:16:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TIRO](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdCompentencia] [int] NOT NULL,
	[IdJugador] [int] NOT NULL,
	[NumTiros] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[COMPETENCIA]  WITH CHECK ADD  CONSTRAINT [FK_COMPETENCIA_FICHA] FOREIGN KEY([IdFichaJugadorDos])
REFERENCES [dbo].[FICHA] ([Id])
GO
ALTER TABLE [dbo].[COMPETENCIA] CHECK CONSTRAINT [FK_COMPETENCIA_FICHA]
GO
ALTER TABLE [dbo].[COMPETENCIA]  WITH CHECK ADD  CONSTRAINT [FK_COMPETENCIA_FICHA1] FOREIGN KEY([IdFichaJugadorUno])
REFERENCES [dbo].[FICHA] ([Id])
GO
ALTER TABLE [dbo].[COMPETENCIA] CHECK CONSTRAINT [FK_COMPETENCIA_FICHA1]
GO
ALTER TABLE [dbo].[COMPETENCIA]  WITH CHECK ADD  CONSTRAINT [FK_COMPETENCIA_JUGADOR] FOREIGN KEY([IdJugadorUno])
REFERENCES [dbo].[JUGADOR] ([Id])
GO
ALTER TABLE [dbo].[COMPETENCIA] CHECK CONSTRAINT [FK_COMPETENCIA_JUGADOR]
GO
ALTER TABLE [dbo].[COMPETENCIA]  WITH CHECK ADD  CONSTRAINT [FK_COMPETENCIA_JUGADOR1] FOREIGN KEY([IdJugadorDos])
REFERENCES [dbo].[JUGADOR] ([Id])
GO
ALTER TABLE [dbo].[COMPETENCIA] CHECK CONSTRAINT [FK_COMPETENCIA_JUGADOR1]
GO
ALTER TABLE [dbo].[COMPETENCIA]  WITH CHECK ADD  CONSTRAINT [FK_COMPETENCIA_TABLERO] FOREIGN KEY([IdTablero])
REFERENCES [dbo].[TABLERO] ([Id])
GO
ALTER TABLE [dbo].[COMPETENCIA] CHECK CONSTRAINT [FK_COMPETENCIA_TABLERO]
GO
ALTER TABLE [dbo].[DESBANCO]  WITH CHECK ADD  CONSTRAINT [FK_DESBANCO_COMPETENCIA] FOREIGN KEY([IdCompetencia])
REFERENCES [dbo].[COMPETENCIA] ([id])
GO
ALTER TABLE [dbo].[DESBANCO] CHECK CONSTRAINT [FK_DESBANCO_COMPETENCIA]
GO
ALTER TABLE [dbo].[ESCALERA]  WITH CHECK ADD  CONSTRAINT [FK_ESCALERA_COMPETENCIA] FOREIGN KEY([IdCompetencia])
REFERENCES [dbo].[COMPETENCIA] ([id])
GO
ALTER TABLE [dbo].[ESCALERA] CHECK CONSTRAINT [FK_ESCALERA_COMPETENCIA]
GO
ALTER TABLE [dbo].[JUEGOINDIVIDUAL]  WITH CHECK ADD  CONSTRAINT [FK_JUEGOINDIVIDUAL_FICHA] FOREIGN KEY([IdFicha])
REFERENCES [dbo].[FICHA] ([Id])
GO
ALTER TABLE [dbo].[JUEGOINDIVIDUAL] CHECK CONSTRAINT [FK_JUEGOINDIVIDUAL_FICHA]
GO
ALTER TABLE [dbo].[JUEGOINDIVIDUAL]  WITH CHECK ADD  CONSTRAINT [FK_JUEGOINDIVIDUAL_JUGADOR] FOREIGN KEY([Idjugador])
REFERENCES [dbo].[JUGADOR] ([Id])
GO
ALTER TABLE [dbo].[JUEGOINDIVIDUAL] CHECK CONSTRAINT [FK_JUEGOINDIVIDUAL_JUGADOR]
GO
ALTER TABLE [dbo].[JUEGOINDIVIDUAL]  WITH CHECK ADD  CONSTRAINT [FK_JUEGOINDIVIDUAL_TABLERO] FOREIGN KEY([IdTablero])
REFERENCES [dbo].[TABLERO] ([Id])
GO
ALTER TABLE [dbo].[JUEGOINDIVIDUAL] CHECK CONSTRAINT [FK_JUEGOINDIVIDUAL_TABLERO]
GO
ALTER TABLE [dbo].[SERPIENTE]  WITH CHECK ADD  CONSTRAINT [FK_SERPIENTE_COMPETENCIA] FOREIGN KEY([IdCompentencia])
REFERENCES [dbo].[COMPETENCIA] ([id])
GO
ALTER TABLE [dbo].[SERPIENTE] CHECK CONSTRAINT [FK_SERPIENTE_COMPETENCIA]
GO
ALTER TABLE [dbo].[TIRO]  WITH CHECK ADD  CONSTRAINT [FK_TIRO_COMPETENCIA] FOREIGN KEY([IdCompentencia])
REFERENCES [dbo].[COMPETENCIA] ([id])
GO
ALTER TABLE [dbo].[TIRO] CHECK CONSTRAINT [FK_TIRO_COMPETENCIA]
GO
USE [master]
GO
